# Entornos virtuales
venv/
env/
.venv/

# Archivos de datos o modelos pesados
*.csv
*.xlsx
*.pkl
*.h5

# Archivos de Python
__pycache__/
*.pyc


# Global
node_modules/
.env
.env.local
.env.production
.DS_Store
*.log
dist/
build/
coverage/

# Backend
backend/prisma/migrations/migration_lock.toml
backend/dist/

# Frontend
frontend/.vite/
frontend/dist/

# IDE
.vscode/
.idea/
